<!DOCTYPE html>
<html>
<head>
  <title>RealityWatchParty | It's not Fantasy. It's Reality</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="author" content="Shanda Swallers">
    <meta name="description" content="Reality Watch Party is where you can show how much you know about a show by drafting contestants for each reality show and re">
    <meta name="keywords" content="reality, fantasy, TV, show, bachelor">
    <meta name="rating" content="General">
    <meta name="revisit-after" content="30 days">
    <meta name="robots" content="INDEX,FOLLOW">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- modernizr -->
    <script src="js/modernizr.custom.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
